.container{
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color:#C653C2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center
}

table{
    border-spacing:5px; 
    border-color: black;
}

th:hover{
    background-color: rgb(209, 209, 209);
    
}
.body{
    display: flex;
    justify-content: center;
}

.lateral{
    margin-left: 1%;
    width: 23%;
    height: 100%;
}

img{
    width: 20vw;

}

.content{
    width: 74%;
}

a{
    text-decoration: none; 
    color: inherit;
}